<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid mt-4">
    <div class="row">
        <div class="col-lg-12">
            <form [formGroup]="userAdd" (ngSubmit)="onSubmit()">
                <!--begin::Portlet-->
                <div class="kt-portlet kt-portlet--last kt-portlet--responsive-mobile">
                    <div class="kt-portlet__head kt-portlet__head--lg kt-portlet__head--break-sm bg-light">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title">User Info</h3>
                        </div>
                    </div>
                    <div class="kt-portlet__body">
                        <div class="kt-form">
                            <div class="row">

                                <div class="col-lg-6">
                                    <div class="form-group row">
                                        <label class="col-3 col-form-label">User Code</label>
                                        <div class="col-9">
                                            <input class="form-control" formControlName="UserCodetxt" type="text"
                                                disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-3 col-form-label">User Name</label>
                                        <div class="col-9">
                                            <input class="form-control" formControlName="UserNametxt" type="text">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-3 col-form-label">Mobile No</label>
                                        <div class="col-9">
                                            <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text"><i
                                                            class="la la-phone"></i></span></div>
                                                <input type="text" class="form-control" formControlName="Mobilevtxt"
                                                    placeholder="Phone" aria-describedby="basic-addon1">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-3 col-form-label">Email Address</label>
                                        <div class="col-9">
                                            <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text"><i
                                                            class="la la-at"></i></span></div>
                                                <input type="text" class="form-control" formControlName="Emailvtxt"
                                                    placeholder="Email" aria-describedby="basic-addon1">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-3 col-form-label">Password</label>
                                        <div class="col-9">
                                            <div class="input-group">
                                                <div class="input-group-prepend"></div>
                                                <input (input)="CheckPassword($event.target.value,'p')" type="password" class="form-control" formControlName="Passwordvtxt"
                                                    placeholder="Password" aria-describedby="basic-addon1">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-3 col-form-label">Confirm Password</label>
                                        <div class="col-9">
                                            <div class="input-group">
                                                <div class="input-group-prepend"></div>
                                                <input (input)="CheckPassword($event.target.value,'c')" type="password" class="form-control" formControlName="CPasswordvtxt"
                                                    placeholder="Confirm Password" aria-describedby="basic-addon1">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-4 col-form-label">Status</label>
                                        <div class="col-8 kt-checkbox-inline">
                                            <label class="kt-checkbox">
                                                <input type="checkbox" (change)="onStatusChange($event)"
                                                    value=" {{this.Active}}" [checked]="this.Active==1">Active
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <app-password-strength-bar [passwordToCheck]="Password" >
                                        </app-password-strength-bar>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-control-label">{{Error}}</label>
                                    </div>

                                </div>
                                <div class="col-lg-6">


                                   <div class="form-group row">
                                                <label class="col-4 col-form-label">Select Roles</label>
                                                <div class="col-lg-8 kt-checkbox-inline">
                                                    <div class="kt-checkbox-list">
                                                        <label *ngFor="let role of UserRoles;" class="kt-checkbox">  
                                                             <input type="checkbox"  name="role.IDbint"  [ngModelOptions]="{standalone: true}"   [(ngModel)]="role.Checked"
                                                              value="{{role.IDbint}}"
                                                            (change)="onRoleChange(role,$event)"> 
                                                              {{role.RoleNamevtxt}}<br>  
                                                              <span></span>
                                                          </label>  
                                                    </div>
                                                </div>
                                           
                                    </div>
                               
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="kt-portlet__foot kt-portlet__foot--sm bg-light">
                        <div class="kt-form__actions">
                            <div class="row">
                                <div class="col">
                                    <button class="btn btn-brand btn-wide kt-font-bold kt-font-transform-u"
                                        type="submit" [disabled]="this.userAdd.invalid"> Submit</button>

                                    <button [routerLink]="['/SP/UserList']"
                                        class="btn  btn-secondary  btn-wide kt-font-bold kt-font-transform-u">
                                        Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--end::Portlet-->

            </form>
        </div>
    </div>
</div>