<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid mt-4">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-font-lg  kt-portlet__head--lg bg-light">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title text-dark">Customer Ledger</h3>
            </div>
            <div class="kt-portlet__head-toolbar">
                <span class="kt-font-bold mr-3">Ledger From</span>
                <span class="kt-font-brand kt-font-bold kt-font-lg">
                    {{this.BalanceConfirmationInfo?.FromDatedatetime | date :'dd/MM/yyyy'}}
                    To
                    {{this.BalanceConfirmationInfo?.ToDatedatetime | date :'dd/MM/yyyy'}}
                </span>
            </div>
        </div>
        <div class="col-12 ml-2 kt-font-lg  mt-4 HeaderPart">
            <div *ngIf="BalanceConfirmationInfo.AttachmentFilevtxt!='' && BalanceConfirmationInfo.AttachmentFilevtxt!=null" class="mb-2">
                <a (click)="download()" type="button" class="alert-link"><i class="fa fa-download" aria-hidden="true"></i>
                    {{this.BalanceConfirmationInfo?.AttachmentFilevtxt}}   </a>
            </div>
            <div class="mb-2">
                <span class="kt-font-bolder">Reference No:</span> {{this.BalanceConfirmationInfo?.RequestNovtxt}}
            </div>
            <div class="mb-3">
                <span class="kt-font-bolder">Date:</span> {{this.BalanceConfirmationInfo?.InsertDatetimedatetime | date :'dd/MM/yyyy'}}
            </div>
            <div>
                <span class="kt-font-bolder">To</span> ,
            </div>
            <div>
                <span class="ToName kt-font-bolder">
                    {{this.BalanceConfirmationInfo?.CustomerNamevtxt}}
                </span> ,
            </div>
            <div>
                <span class="ToPost kt-font-bolder">Customer</span> ,
            </div>
            <div>
                <span class="ToAddress kt-font-bolder">
                    {{this.BalanceConfirmationInfo?.Addressvtxt}}
                    {{ this.BalanceConfirmationInfo?.Cityvtxt}}
                </span>
            </div>
        </div>
        <div class="col-12 ml-2  kt-font-lg  SubjectPart">
            <div class="my-4">
                <span class="kt-font-bolder">Dear Sir</span> ,
            </div>
            <div class="Subject row">
                <div class="col-10 mx-auto">
                    <span class="kt-font-bolder">Sub :</span> Balance Confirmation as on {{this.BalanceConfirmationInfo?.ToDatedatetime | date :'dd/MM/yyyy'}} as Required by internal audit department.
                </div>
            </div>
        </div>
        <div class="col-12 my-5  kt-font-lg  ContentPart">
            <div class="MainContent row mb-5">
                <div class="col-10 mx-auto">
                    <p>
                        <a class="pl-4">With</a> Reference to the above subject, our book of accounts shows a credit/debit balance in your account of Rs.{{this.BalanceConfirmations[lengthofBalanceConfirmations]?.Balancedcl}}/- as on {{this.BalanceConfirmationInfo?.ToDatedatetime
                        | date :'dd/MM/yyyy'}}.
                    </p>
                    <p>
                        In case you need any further including statement of account to reconcile the differences if any please do write us.
                    </p>
                    <p>
                        If we do not receive your confirmation within 15 day's we could treat the above balance is correct.
                    </p>
                </div>
            </div>
            <div class="table-responsive">
                <!-- begin: Datatable -->
                <table class="table table-striped ">
                    <thead style="background-color: #CDCDCD;">
                        <tr>
                            <th class=" font-weight-bold align-text-top" scope="col">
                                Sr. No.
                            </th>
                            <th class=" font-weight-bold align-text-top" scope="col">
                                POST DATE
                            </th>
                            <th class=" font-weight-bold align-text-top" scope="col">
                                DOC. NO.
                            </th>
                            <th class=" font-weight-bold align-text-top" scope="col">
                                DOC. DT.
                            </th>
                            <th class=" font-weight-bold align-text-top" scope="col">
                                ASSIGNMENT
                            </th>
                            <th class=" font-weight-bold align-text-top" scope="col">
                                DOC. AMOUNT
                            </th>
                            <th class=" font-weight-bold align-text-top" scope="col">
                                TYPE
                            </th>
                            <th class=" font-weight-bold align-text-top" scope="col">
                                TDS
                            </th>
                            <th class=" font-weight-bold align-text-top" scope="col">
                                GROSS AMT
                            </th>
                            <th class=" font-weight-bold align-text-top" scope="col">
                                NARRATION
                            </th>
                            <th *ngIf="this.BalanceConfirmationInfo?.BalanceConfirmationAction=='A'" class=" font-weight-bold align-text-top" scope="col">
                                Updated Amount
                            </th>
                            <th *ngIf="this.BalanceConfirmationInfo?.BalanceConfirmationAction=='A'" class=" font-weight-bold align-text-top" scope="col">
                                Updated Remark
                            </th>
                            <th class=" font-weight-bold align-text-top" scope="col">
                                ACTION
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let Ledger of BalanceConfirmations; index as i ">
                            <th scope="row">{{ i + 1 }} </th>
                            <td>
                                <div *ngIf="Ledger.DocumentTypevtxt!='Opening Balance'">
                                    <div *ngIf="Ledger.DocumentTypevtxt!='Closing Balance'">
                                        {{Ledger.PostingDatedate | date :'dd/MM/yyyy'}}</div>
                                </div>
                            </td>
                            <td>
                                <div *ngIf="Ledger.DocumentTypevtxt!='Opening Balance'">
                                    <div *ngIf="Ledger.DocumentTypevtxt!='Closing Balance'">
                                        {{Ledger.DocumentNovtxt }}
                                    </div>
                                </div>

                            </td>
                            <td>
                                <div *ngIf="Ledger.DocumentTypevtxt!='Opening Balance'">
                                    <div *ngIf="Ledger.DocumentTypevtxt!='Closing Balance'">
                                        {{Ledger.DocumentDatedate | date :'dd/MM/yyyy'}}
                                    </div>
                                </div>

                            </td>
                            <td>{{Ledger.RefDocumentNovtxt}}</td>
                            <td>
                                <div *ngIf="Ledger.DocumentTypevtxt!='Opening Balance'">
                                    <div *ngIf="Ledger.DocumentTypevtxt!='Closing Balance'">
                                        {{Ledger.Quantitydcl}}</div>
                                </div>
                            </td>
                            <td>{{Ledger.DocumentTypevtxt}}</td>
                            <td>{{Ledger.TDSdcl}}</td>
                            <td>{{Ledger.Balancedcl}}
                            </td>
                            <td>
                                <div *ngIf="Ledger.DocumentTypevtxt!='Opening Balance'">
                                    <div *ngIf="Ledger.DocumentTypevtxt!='Closing Balance'">
                                        {{Ledger.ItemDescvtxt}}
                                    </div>
                                </div>
                            </td>
                            <td *ngIf="this.BalanceConfirmationInfo?.BalanceConfirmationAction=='A'">
                                <div *ngIf="Ledger.DocumentTypevtxt=='D'">
                                    {{Ledger.EditDebitdcl}}
                                </div>
                                <div *ngIf="Ledger.DocumentTypevtxt=='C'">
                                    {{Ledger.EditCreditdcl}}
                                </div>
                            </td>
                            <td *ngIf="this.BalanceConfirmationInfo?.BalanceConfirmationAction=='A'">
                                {{ Ledger.Remarksvtxt}}
                            </td>
                            <td>
                                <div class="row ml-5">
                                    <div class="row" *ngIf="this.BalanceConfirmationInfo?.BalanceConfirmationAction!='A' && this.BalanceConfirmationInfo?.BalanceConfirmationAction!='B'">
                                        <div class="inputcheck">
                                            <input type="checkbox" checked="checked" (change)="onStatusChange($event.target.checked,'checkbox',Ledger)">
                                            <span></span>
                                            <button class="btn col-1 edit-butt" (click)="onStatusChange(true,'button',Ledger)" *ngIf="Ledger.editmode==true">
                                                <i class="fa mr-2 fa-edit"></i></button>
                                        </div>
                                        <!--<div class="row" >

                                        </div>-->
                                    </div>
                                    <div class="row" *ngIf="this.BalanceConfirmationInfo?.BalanceConfirmationAction=='A' || this.BalanceConfirmationInfo?.BalanceConfirmationAction=='B' ">
                                        <input type="checkbox" [(ngModel)]="Ledger.edit" disabled>
                                        <span></span>
                                    </div>
                                </div>
                                <jw-modal id="custom-modal-{{Ledger.IDbint }}">

                                    <div class="col-md-12 row mt-4">
                                        <h4 class="col-md-3">
                                            <div *ngIf="Ledger.DocumentTypevtxt  =='D' ">
                                                Debit
                                            </div>
                                            <div *ngIf="Ledger.DocumentTypevtxt =='C' ">
                                                Credit
                                            </div>
                                        </h4>
                                        <div class=" col-md-9">
                                            {{Ledger.Quantitydcl}}
                                        </div>
                                    </div>

                                    <div class="col-md-12 row mt-4">
                                        <h4 class="col-md-3"> Amount</h4>
                                        <div class=" col-md-9">
                                            <div *ngIf="this.BalanceConfirmationInfo?.BalanceConfirmationAction!='A' && this.BalanceConfirmationInfo?.BalanceConfirmationAction!='B'">
                                                <input class=" form-control" (change)="onRowChange(Ledger,$event.target.value,'amount')">
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-md-12 row mt-4">
                                        <h4 class="col-md-3">Remark</h4>
                                        <div class=" col-md-9">
                                            <div *ngIf="this.BalanceConfirmationInfo?.BalanceConfirmationAction!='A' && this.BalanceConfirmationInfo?.BalanceConfirmationAction!='B'">
                                                <textarea (change)="onRowChange(Ledger,$event.target.value,'remark')" class=" form-control" type="text"></textarea>
                                            </div>

                                        </div>
                                    </div>

                                    <p></p>
                                    <div class="row">
                                        <div *ngIf="this.BalanceConfirmationInfo?.BalanceConfirmationAction!='A' && this.BalanceConfirmationInfo?.BalanceConfirmationAction!='B'">
                                            <a (click)="saveModal('custom-modal-'+Ledger.IDbint,Ledger);" class="btn btn-brand mr-2 btn-sm">Save</a>
                                        </div>

                                        <a (click)="closeModal('custom-modal-'+Ledger.IDbint,Ledger);" class="btn btn-brand mr-2  btn-sm">Close</a>
                                    </div>

                                </jw-modal>
                            </td>

                        </tr>
                    </tbody>
                </table>
                <!-- end: Datatable -->
            </div>
            <div class="MainContent row mt-5">
                <div class="col-10 mx-auto">

                    <p>
                        This is Computer generated bill so no need to any required rubber stamp or signature.
                    </p>
                    <div class="col-12 mt-4 FooterPart">
                        <div class=" kt-align-left">
                            <div>
                                <span class="kt-font-bolder">Your's faithfully</span>
                            </div>
                            <div>Prism Cement Pvt Ltd</div>
                        </div>
                    </div>
                    <div class="col-md-12 row mt-4">
                        <h4 class="col-md-2">Remark :</h4>
                        <div class="col-md-9">
                            <div *ngIf="this.BalanceConfirmationInfo?.BalanceConfirmationAction!='A' && this.BalanceConfirmationInfo?.BalanceConfirmationAction!='B'">
                                <textarea (change)="onRemarkChange($event.target.value)" class=" form-control" type="text"></textarea>
                            </div>
                            <div *ngIf="this.BalanceConfirmationInfo?.BalanceConfirmationAction=='A'">
                                {{this.BalanceConfirmationInfo?.Remarksvtxt}}
                            </div>
                        </div>
                    </div>
                    <div *ngIf="this.BalanceConfirmationInfo?.BalanceConfirmationAction!='A' && this.BalanceConfirmationInfo?.BalanceConfirmationAction!='B'">
                        <div class="col-md-12 row mt-4">
                            <h4 class="col-md-3">Attachment :</h4>
                            <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="kt-portlet__head kt-portlet__head--lg bg-light">
            <div class="row mt-3">
                <div *ngIf="this.BalanceConfirmationInfo?.BalanceConfirmationAction!='A' && this.BalanceConfirmationInfo?.BalanceConfirmationAction!='B'">
                    <a *ngIf="this.Save==true" (click)="Agree()" class="btn btn-brand mr-2 btn-sm">I Agree</a>
                    <a (click)="Disagree()" class="btn btn-brand mr-2  btn-sm">I Disagree</a>
                </div>
                <div>
                    <a (click)="Back()" class="btn btn-sm btn-brand "> Back </a>
                </div>
            </div>
        </div>
    </div>
</div>
