<form [formGroup]="UserData" (ngSubmit)="OnSubmit()">


    <div class=" col-md-12 m-4 "  >
        <div class="modal-content">
            <div class="modal-header bg-light">
                <h5 class="modal-title" id="exampleModalLabel">Change Password</h5>

            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="current_password" class="form-control-label">Current Password</label>
                    <input class="form-control form-control-sm"  formControlName="Passwordvtxt"   type="password" name="current_password"required>
                </div>
                <div class="form-group">
                    <label for="new_password" class="form-control-label">New Password</label>
                    <input (input)="CheckPassword($event.target.value,'p')"  class="form-control form-control-sm"  formControlName="NewPassword"   type="password" name="new_password" required>
                </div>
                <div class="form-group">
                    <label for="confirm_password" class="form-control-label">Confirm Password</label>
                    <input (input)="CheckPassword($event.target.value,'c')"  class="form-control form-control-sm"  formControlName="CNewPassword"   type="password" name="confirm_password" required>
                </div>
                <div class="form-group">
                    <app-password-strength-bar [passwordToCheck]="Password" >
                    </app-password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="form-control-label">{{Error}}</label>
                </div>
            </div>
            <div class="modal-footer bg-light">
                <button class="btn btn-secondary btn-sm"  [routerLink]="['/Customer/dashboard']" data-dismiss="modal" aria-hidden="true">Back</button>
                <button class="btn mr-2 btn-brand btn-sm"  data-dismiss="modal" type="submit"  [disabled]="this.UserData.invalid"  id="password_modal_save">Submit</button>
            </div>
        </div>
    </div>
</form>
