<div class="kt-container  kt-container--fluid ">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg bg-light">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title text-dark">
                    <b>
                        My Ledger List
                    </b>
                </h3>
            </div>

        </div>
    
        <div class="kt-portlet__body ">
            <div class=" table table-responsive">
                <table class="table table-striped">
                    <thead style="background-color: #CDCDCD;">
                        <tr>
                            <th class=" font-weight-bold align-text-top" scope="col">Sr. No.</th>
                            <th class=" font-weight-bold align-text-top" scope="col">Reference No</th>
                            <th class=" font-weight-bold align-text-top" scope="col">Ledger Confirmation From Date</th>
                            <th class=" font-weight-bold align-text-top" scope="col">Ledger Confirmation To Date</th>
                            <th class=" font-weight-bold align-text-top" scope="col">Confirmation Before Date</th>
                            <th class=" font-weight-bold align-text-top" scope="col">Status</th>
                            <th class=" font-weight-bold align-text-top" scope="col">action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let BC of BalanceConfirmations; index as i">
                            <th scope="row">{{i +  this.Indexing + 1 }}</th>
                            <td>{{BC?.RequestNovtxt}}</td>
                            <td> {{BC?.FromDatedatetime | date :'dd/MM/yyyy'}} </td>
                            <td> {{BC?.ToDatedatetime | date :'dd/MM/yyyy'}} </td>
                            <td> {{BC?.ExpiryDatedatetime | date :'dd/MM/yyyy'}} </td>
                            <td>
                                <div *ngIf="BC?.BalanceConfirmationStatus==true">
                                    Completed
                                </div>
                                <div *ngIf="BC?.BalanceConfirmationStatus==false">
                                    Pending
                                </div>
                            </td>
                            <td> <button class="btn btn-brand btn-icon btn-sm btn-bold rounded-circle"
                                    (click)="pass(this.BC?.IDbint)"><i class="fa fa-eye"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h4 *ngIf="this.BalanceConfirmations[0]==null">No Data Available</h4>
                <div *ngIf="BalanceConfirmations[0] !=null" class="kt-pagination kt-pagination--brand">
                    <ul class="kt-pagination__links">
                        <li *ngIf="this.pageField.length < paginationService.exactPageList"
                            class="kt-pagination__link--prev">
                            <a (click)="showPrevBalanceConfirmation()"
                                [ngClass]="(paginationService.showNoOfCurrentPage ==1)?'notAllowed':'kt-font-brand'"><i
                                    class="fa fa-angle-left kt-font-brand"></i></a></li>
                        <li *ngFor="let page of pageField;let i=index">
                            <a [ngClass]="pageNumber[i] ? 'kt-pagination__link--active':''"
                                (click)="showDataByPageNumber(page,i)" style="cursor: pointer;">{{page}}</a>
                        </li>
                        <li *ngIf="this.pageField.length < paginationService.exactPageList"
                            class="kt-pagination__link--next"><a (click)="showNextBalanceConfirmation()"
                                [ngClass]="(paginationService.disabledNextBtn)?'notAllowed':'kt-font-brand'"><i
                                    class="fa fa-angle-right kt-font-brand"></i></a> </li>
                    </ul>
                    <div class="kt-pagination__toolbar">
                        <div class="pagination__desc">Page <span class="kt-font-bold">{{currentPage}}</span> of
                            <span class="kt-font-bold">{{paginationService.exactPageList}}</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>