<div class="kt-grid kt-grid--ver kt-grid--root kt-page" style="min-height: 100vh;">
    <div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v6 kt-login--signin" id="kt_login">
        <div
            class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--desktop kt-grid--ver-desktop kt-grid--hor-tablet-and-mobile">
            <div class="kt-grid__item  kt-grid__item--order-tablet-and-mobile-2  kt-grid kt-grid--hor kt-login__aside">
                <div class="kt-login__wrapper">
                    <div class="kt-login__container">
                        <div class="kt-login__body">
                            <div class="kt-login__logo">
                                <img src="assets/media/app_images/johnson-logo.png" class="img-fluid" />
                            </div>
                            <div class="kt-login__signin">
                                <div class="kt-login__head">
                                    <h3 class="kt-login__title">Forget Password
                                    </h3>
                                </div>
                                <div class="kt-login__form">
                                    <div class="kt-form">
                                        <div class="form-group ">
                                            <input  (input)="UpdateUserCode($event.target.value)"
                                                class="form-control" type="text"  autocomplete="username"
                                                placeholder="Enter User Code" required>
                                        </div>
                                      
                                        <div class="kt-login__actions">
                                            <button type="submit" (click)="Submit()"
                                                class="btn btn-brand ml-3 btn-pill btn-elevate">Submit</button>
                                            <button [routerLink]="['/user/homepage']"
                                                class="btn btn-brand btn-pill mr-3 btn-elevate">Cancel</button>
                                        </div>
                                        <div class="form-group ">
                                            <b>
                                                If you haven't provided email id contact Admin
                                            </b>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="kt-grid__item kt-grid__item--fluid kt-grid__item--center kt-grid kt-grid--ver kt-login__content"
                style="background-image: url(assets/media/app_images/login-bg.jpg);">

            </div>
        </div>
    </div>
</div>