<div class=" row m-3  center  text-center">

    <div class="col-md-11 col-lg-3 col-lx-3 ml-2 mr-2  border border-dark  kt-portlet">
        <div class=" mt-2">
            <b>
                Credit Limit

            </b>
        </div>
        <div class=" mb-2">
            ₹ {{ this.CreditLimit}}
        </div>
    </div>

    <div class="col-md-11 col-lg-3 col-lx-3 ml-2 mr-2  border border-dark   kt-portlet">
        <div class=" mt-2">
            <b>
                Out Standing

            </b>
        </div>
        <div class=" mb-2">
            {{ this.OutStanding}}
        </div>
    </div>
    <div class="col-md-11 col-lg-3 col-lx-3 ml-2 mr-2  border border-dark   kt-portlet">
        <div class=" mt-2">
            <b>
                Available Credit Limit

            </b>
        </div>
        <div class=" mb-2">
            ₹ {{ this.AvailableCreditLimit}}
        </div>
    </div>

    <div class="col-md-11 col-lg-3 col-lx-3 ml-2 mr-2  border border-dark   kt-portlet">
      <div class=" mt-2">
          <b>
              Security Amount
          </b>
      </div>
      <div class=" mb-2">
          ₹ {{ this.CustSecurityAmount}}
      </div>
  </div>


</div>
