<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid ">
    <div class="kt-portlet ">
        <div class="kt-portlet__head kt-portlet__head--lg kt-portlet__head--break-sm">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    <b>Switch User</b>

            </h3>
            </div>
        </div>
        <div class="p-4 bg-light border-top border-bottom">
            <!--begin: Search Form -->
            <div class="kt-form kt-form--label-right ">
                <div class="row align-items-center">
                    <div class="col-xl-12 order-2 order-xl-1">
                        <div class="row align-items-center">


                            <div class="col-12 col-md-6 col-lg mb-2 mb-lg-0">
                                <div class="kt-input-icon kt-input-icon--left">
                                    <input type="text" class="form-control form-control-sm" [(ngModel)]="Keyword"
                                        placeholder="Type To Search...">
                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                        <span><i class="la la-search"></i></span>
                                    </span>
                                </div>
                            </div>

                            <div class="col-auto">
                                <button class="btn btn-dark btn-sm" (click)="ngOnInit()" title="bigger"><i
                                        class="fa fa-search ml-2 ml-md-0"></i><span
                                        class="d-none d-md-inline-block ml-2">Search</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--end: Search Form -->
        </div>
        <div class="kt-portlet__body  ">
            <div class=" table table-responsive">
                <table class="table table-striped">
                    <thead style="background-color: #CDCDCD;" >
                    <tr>
                      <th class=" font-weight-bold align-text-top" scope="col">Sr No</th>
                       <th class=" font-weight-bold align-text-top"  scope="col">Customer Code</th>
                       <th class=" font-weight-bold align-text-top"  scope="col">Customer Name</th>
                       <th class=" font-weight-bold align-text-top"  scope="col">TR/NT</th>
                       <th class=" font-weight-bold align-text-top"  scope="col">Mobile</th>
                       <th class=" font-weight-bold align-text-top"  scope="col">City</th>
                       <th class=" font-weight-bold align-text-top"  scope="col">Address</th>
                       <th class=" font-weight-bold align-text-top"  scope="col">Postal Code</th>
                       <th class=" font-weight-bold align-text-top"  scope="col">GST No</th>
                       <th class=" font-weight-bold align-text-top"  scope="col">Pan No</th>
                       <th class=" font-weight-bold align-text-top"  scope="col">Order Block</th>
                       <th class=" font-weight-bold align-text-top"  scope="col">Sales Office District</th>
                       <th class=" font-weight-bold align-text-top"  scope="col">Sales Promoter Code</th>
                       <th class=" font-weight-bold align-text-top"  scope="col">Sales Promoter Name</th>
                       <th class=" font-weight-bold align-text-top"  scope="col">CF Code</th>
                       <th class=" font-weight-bold align-text-top"  scope="col">CF Name</th>
                       <th class=" font-weight-bold align-text-top"  scope="col">Company Code</th>
                       <th class=" font-weight-bold align-text-top"  scope="col">Company Name</th>
                       <th class=" font-weight-bold align-text-top" colspan="2"  scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let  Customer of Customers; index as i">
                       <th  scope="row">{{i + Indexing +1 }}</th>
                      <td>{{Customer?.CustCodevtxt }}</td>
                      <td>{{ Customer?.CustNamevtxt}}</td>
                      <td>{{Customer?.Typevtxt}}</td>
                      <td>{{Customer?.TelNumber2vtxt}}</td>
                      <td>{{Customer?.Address2vtxt}}</td>
                      <td>{{Customer?.Address1vtxt}}</td>
                      <td>{{Customer?.PostalCodevtxt}}</td>
                      <td>{{Customer?.Gstnovtxt}}</td>
                      <td>{{Customer?.PanNovtxt}}</td>
                      <td>{{Customer?.OrderBlockvtxt}}</td>
                      <td>{{Customer?.SalesOfficeDescvtxt}}</td>
                      <td>{{Customer?.Spcodevtxt}} </td>
                      <td>{{Customer?.Spnamevtxt}}</td>
                      <td>{{Customer?.Cfacodevtxt}} </td>
                      <td>{{Customer?.Cfanamevtxt}}</td>
                      <td>{{Customer?.CompanyCodevtxt}} </td>
                      <td>{{Customer?.CompanyNamevtxt}}</td>
                      <td>
                    <button class="btn btn-brand btn-icon btn-sm btn-bold rounded-circle  mr-2 "  (click)="openProfile(Customer?.CustCodevtxt)"><i class="flaticon2-user"></i></button>
                      </td>
                      <td>
                        <button class=" btn btn-brand btn-icon btn-sm btn-bold rounded-circle" (click)="pass(Customer)"><i class="flaticon-rotate  "></i></button></td>
                    </tr>
                    </tbody>
                  </table>
            </div>


            <h4 *ngIf="this.Customers[0]==null">No Data Available</h4>
            <div *ngIf="Customers[0] !=null" class="kt-pagination kt-pagination--brand">
                <ul class="kt-pagination__links">
                    <li *ngIf="this.pageField.length < paginationService.exactPageList" class="kt-pagination__link--prev">
                        <a (click)="showPrevCustomers()" [ngClass]="(paginationService.showNoOfCurrentPage ==1)?'notAllowed':'kt-font-brand'"><i
                                class="fa fa-angle-left kt-font-brand"></i></a></li>
                    <li *ngFor="let page of pageField;let i=index">
                        <a (click)="showCustomersByPageNumber(page,i)" [ngClass]="pageNumber[i] ? 'kt-pagination__link--active':''" style="cursor: pointer;">{{page}}</a>
                    </li>
                    <li *ngIf="this.pageField.length < paginationService.exactPageList" class="kt-pagination__link--next"><a (click)="showNextCustomers()" [ngClass]="(paginationService.disabledNextBtn)?'notAllowed':'kt-font-brand'"><i
                                class="fa fa-angle-right kt-font-brand"></i></a> </li>
                </ul>
                <div class="kt-pagination__toolbar">
                    <div class="pagination__desc">Page <span class="kt-font-bold">{{currentPage}}</span> of
                        <span class="kt-font-bold">{{paginationService.exactPageList}}</span></div>
                </div>
            </div>
        </div>
    </div>
</div>
