<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid mt-4">
    <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
        <!--begin::Portlet-->

        <div class="kt-portlet__head kt-portlet__head--lg kt-portlet__head--break-sm bg-light">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">Role Info
                </h3>
            </div>
            <div>
                <button (click)="Edit()" class="btn mt-3  btn-brand "><i class="fa fa-edit"></i></button>
            </div>
        </div>

        <div class="kt-portlet__body">
            <div class="table-responsive" style="overflow: hidden;">


                <table class="text-dark col-md-12">

                    <tbody>
                        <tr class="row">
                            <th class="col-sm-3" scope="row">Role Name</th>
                            <td class="col-sm-3">: {{this.RoleInfo?.RoleNamevtxt}} </td>
                            <th class="col-sm-3" scope="row">Role Description</th>
                            <td class="col-sm-3">: {{this.RoleInfo?.RoleDescriptionvtxt}} </td>


                        </tr>

                    </tbody>
                </table>

            </div>
            <h5 class="mt-4">Role Detail</h5>
            <div>
                <div class="form-group row">
                    <label class="col-lg-2 col-form-label"> Menu</label>
                    <div class="col-lg-10 ">
                        <div class="kt-checkbox-list">

                            <label *ngFor="let Role of Roles;" class="kt-checkbox">

								{{Role.Rolevtxt}}<br>

							</label>
                        </div>

                    </div>
                </div>

            </div>
            <button (click)="Back()" class="btn col-md-1  btn-brand ">Back</button>
        </div>
    </div>
