<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <form [formGroup]="FormData">
        <div class="kt-portlet">
            <div class="kt-portlet__head kt-portlet__head--lg kt-portlet__head--break-sm bg-light">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">Upload Balance Confirmation
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <label class="col-lg-3 col-form-label">Ledger Confirmation For
                            </label>
                            <div class="col-lg-5">
                                <mat-radio-group name="radioOpt1" (change)="onTypeChange($event.value)"
                                aria-label="Select an option">
                                <mat-radio-button [checked]="true" value="C">Customer</mat-radio-button>
                                <mat-radio-button  value="S">CF Agent / SP
                                </mat-radio-button>
                            </mat-radio-group>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="row">
                            <label class="col-lg-3 col-form-label">Ledger Confirmation From Date
                            </label>
                            <div class="col-lg-2">
                                <mat-form-field appearance="outline">
                                    <mat-label>Select Date</mat-label>
                                    <input matInput autocomplete="off" formControlName="StartDatedate"
                                        [matDatepicker]="picker1">
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">

                        <div class="row">
                            <label class="col-lg-3 col-form-label">Ledger Confirmation To Date
                            </label>
                            <div class="col-lg-2">
                                <mat-form-field appearance="outline">
                                    <mat-label>Select Date</mat-label>
                                    <input matInput autocomplete="off" formControlName="EndDatedate"
                                        [matDatepicker]="picker2">
                                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                    <mat-datepicker #picker2></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">

                        <div class="row">
                            <label class="col-lg-3 col-form-label">Ledger Confirmation Before Date
                            </label>
                            <div class="col-lg-2">
                                <mat-form-field appearance="outline">
                                    <mat-label>Select Date</mat-label>
                                    <input matInput autocomplete="off" formControlName="ExpiryDatedate"
                                        [matDatepicker]="picker3">
                                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                    <mat-datepicker #picker3></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>


                    <div class="row m-2">
                        Selction:
                        <mat-radio-group>
                            <mat-radio-button [checked]="true" value="All"   (click)="Alldata()"  >All</mat-radio-button>
                            <mat-radio-button  value="Upload" (click)="Uploaddata()" >Upload</mat-radio-button>
                        </mat-radio-group>
                    </div>
    

                   
                    <div class="col-lg-10" *ngIf="Upload">
                        <label class="col-lg-2 col-form-label">Upload File:</label>
                        <div class="kt-uppy" id="kt_uppy_5">
                            <div class="kt-uppy__wrapper">
                                <div class="uppy-Root uppy-FileInput-container">
                                    <input type="file" #file placeholder="Choose file"
                                        (change)="uploadFile(file.files)">
                                </div>
                            </div>
                            <div class="kt-uppy__list"></div>
                            <div class="kt-uppy__status kt-uppy__status--hidden">
                                <div class="uppy-Root uppy-StatusBar is-waiting" aria-hidden="true">
                                    <div class="uppy-StatusBar-progress" role="progressbar" aria-valuemin="0"
                                        aria-valuemax="100" aria-valuenow="0" style="width: 0%;">
                                    </div>
                                    <div class="uppy-StatusBar-actions"></div>
                                </div>
                            </div>
                            <div class="kt-uppy__informer kt-uppy__informer--min">
                                <div class="uppy uppy-Informer" aria-hidden="true">
                                    <p role="alert"></p>
                                </div>
                            </div>
                        </div>
                        <div class="kt-demo-icon mt-3 mb-0 border">
                            <button class="btn btn-sm  btn-icon btn-icon-md" (click)="download()"> <i
                                    class="fa fa-file-download"></i></button>
                            <div class="kt-demo-icon__class">
                                Download Sample File
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-10 mt-3" *ngIf="All">
                        <label for="" class="col-lg-2 col-form-label">Customer Details</label>
                        <table class="table table-striped">
                            <thead style="background-color: #CDCDCD;">
                            <tr>
                            <th class=" font-weight-bold align-text-top" scope="col">Sr No</th>
                            <th class=" font-weight-bold align-text-top" scope="col">Customer Code</th>
                            <th class=" font-weight-bold align-text-top" scope="col">Customer Name</th>
                        </tr>
                            </thead>
                            <tbody>
                                <tr  *ngFor="let Data of data; index as i">
                                    <th>{{i + Indexing +1 }}</th>
                                    <td>{{Data.CustCodevtxt}}</td>
                                    <td>{{Data.CustNamevtxt}}</td>
                                </tr>
                            </tbody>
                    </table>
                        <div *ngIf="data[0]!=null" class="kt-pagination kt-pagination--brands">
                            <ul class="kt-pagination__links">
                                <li *ngIf="this.pageField.length < paginationService.exactPageList"
                                    class="kt-pagination__link--prev">
                                    <a (click)="showPrevOrders()"
                                        [ngClass]="(paginationService.showNoOfCurrentPage ==1)?'notAllowed':'kt-font-brand'"><i
                                            class="fa fa-angle-left kt-font-brand"></i></a></li>
                                <li *ngFor="let page of pageField;let i=index">
                                    <a [ngClass]="pageNumber[i] ? 'kt-pagination__link--active':''" (click)="showOrdersByPageNumber(page,i)" style="cursor: pointer;">{{page}}</a>
                                </li>
                                <li *ngIf="this.pageField.length < paginationService.exactPageList"
                                    class="kt-pagination__link--next"><a (click)="showNextOrders()"
                                        [ngClass]="(paginationService.disabledNextBtn)?'notAllowed':'kt-font-brand'"><i
                                            class="fa fa-angle-right kt-font-brand"></i></a> </li>
                            </ul>
                            <div class="kt-pagination__toolbar">
                                <div class="pagination__desc">Page <span class="kt-font-bold">{{currentPage}}</span> of
                                    <span class="kt-font-bold">{{paginationService.exactPageList}}</span></div>
                            </div>
                        </div>
                    </div>

                <!-- pagination -->

               
                
                    


                </div>
            </div>
            <div class="kt-portlet__foot kt-portlet__foot--sm bg-light">
                <div class="kt-form__actions">
                    <div class="row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-10">
                            <!-- <button type="submit" type="button" class="btn ml-2 btn-brand btn-sm"
                                (click)="Submit()">Submit</button> -->
                                <button type="submit"  class="btn ml-2 btn-brand btn-sm"
                                (click)="Submit()">Submit</button>
                            <button type="button" class="btn btn-secondary btn-sm" (click)="back()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>