<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid mt-4">
  <div class="kt-portlet kt-portlet--height-fluid kt-portlet--mobile ">
    <!--begin::Portlet-->

    <div class="kt-portlet__head kt-portlet__head--lg kt-portlet__head--break-sm bg-light">
      <div class="kt-portlet__head-label">
        <h3 class="kt-portlet__head-title">Balance Confirmation Information
        </h3>
      </div>
    </div>

    <div class="kt-portlet__body">
      <div *ngIf="BCheader.AttachmentFilevtxt!='' && BCheader.AttachmentFilevtxt!=null" class="mb-2">
        <a (click)="download(BCheader?.AttachmentFilevtxt)" type="button" class="alert-link"><i class="fa fa-download" aria-hidden="true"></i>
          {{this.BCheader?.AttachmentFilevtxt}} </a>
      </div>
      <div class="table-responsive1">


        <table class="text-dark col-md-12">

          <tbody>
            <tr class="row">
              <th class="col-sm-3" scope="row">Request No: </th>
              <td class="col-sm-3"> {{this.BCheader?.RequestNovtxt}}</td>
              <th class="col-sm-3" scope="row">Customer Code:</th>
              <td class="col-sm-3"> {{this.BCheader?.CustomerCodevtxt}} - {{this.BCheader?.CustomerNamevtxt}}</td>


            </tr>
            <tr class="row">
              <th class="col-sm-3" scope="row">From Date:</th>
              <td class="col-sm-3"> {{this.BCheader?.FromDatedatetime | date :'dd/MM/yyy'}}</td>
              <th class="col-sm-3" scope="row">To Date: </th>
              <td class="col-sm-3">{{this.BCheader?.ToDatedatetime | date :'dd/MM/yyy'}}</td>

            </tr>

            <tr class="row">
              <th class="col-sm-3" scope="row">Remark: </th>
              <td class="col-sm-6"> {{this.BCheader?.Remarksvtxt }}</td>
            </tr>
            <!-- Flagbit -->
            <tr class="row">
              <th class="col-sm-3" scope="row">Action:</th>
              <td class="col-sm-3">
                <div class="row pl-3">

                  <span class="kt-font-bold">
                    <div *ngIf="this.BCheader?.BalanceConfirmationAction=='A'">
                      Agree
                    </div>
                    <div *ngIf="this.BCheader?.BalanceConfirmationAction=='B'">
                      Disagree
                    </div>
                    <div *ngIf="this.BCheader?.BalanceConfirmationAction!='A'">
                      <div *ngIf="this.BCheader?.BalanceConfirmationAction!='B'">
                        Pending
                      </div>
                    </div>
                  </span>
                </div>

              </td>
              <th class="col-sm-3" scope="row">Pending At: </th>
              <td class="col-sm-3"> {{this.BCheader?.PendingAt }}</td>

            </tr>

          </tbody>
        </table>

      </div>
      <h5 class="mt-4">Balance Confirmation Details</h5>
      <div class="table-responsive mt-2 ">
        <table class="table table-striped ">
          <thead style="background-color: #CDCDCD;">
            <tr>
              <th class=" font-weight-bold align-text-top" scope="col">
                Sr. No.
              </th>
              <th class=" font-weight-bold align-text-top" scope="col">
                Doc.No
              </th>
              <th class=" font-weight-bold align-text-top" scope="col">
                Doc.Date
              </th>
              <th class=" font-weight-bold align-text-top" scope="col">
                Type
              </th>
              <th class=" font-weight-bold align-text-top" scope="col">
                Plant Code
              </th>
              <th class=" font-weight-bold align-text-top" scope="col">
                Product
              </th>
              <th class=" font-weight-bold align-text-top" scope="col">
                Quantity
              </th>
              <th class=" font-weight-bold align-text-top" scope="col">
                Debit In ₹
              </th>
              <th class=" font-weight-bold align-text-top" scope="col">
                Edited Debit In ₹
              </th>
              <th class=" font-weight-bold align-text-top" scope="col">
                Credit In ₹
              </th>
              <th class=" font-weight-bold align-text-top" scope="col">
                Edited Credit In ₹
              </th>
              <th class=" font-weight-bold align-text-top" scope="col">
                Balance In ₹
              </th>
              <th class=" font-weight-bold align-text-top" scope="col">
                Remark
              </th>
              <th class=" font-weight-bold align-text-top" scope="col">
                Remark By Customer
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let Ledger of BalanceConfirmations; index as i ">
              <th scope="row">{{ i + 1 }} </th>
              <td>
                <div *ngIf="Ledger?.DocumentTypevtxt!='Opening Balance'">
                  <div *ngIf="Ledger?.DocumentTypevtxt!='Closing Balance'">
                    {{Ledger?.DocumentNovtxt}}</div>
                </div>
              </td>
              <td>
                <div *ngIf="Ledger?.DocumentTypevtxt!='Opening Balance'">
                  <div *ngIf="Ledger?.DocumentTypevtxt!='Closing Balance'">
                    {{Ledger?.DocumentDatedate | date :'dd/MM/yyyy'}}
                  </div>
                </div>

              </td>
              <td>{{Ledger?.DocumentTypevtxt}}</td>
              <td>{{Ledger?.Plantvtxt}}</td>
              <td>
                <div *ngIf="Ledger?.DocumentTypevtxt!='Opening Balance'">
                  <div *ngIf="Ledger?.DocumentTypevtxt!='Closing Balance'">
                    {{Ledger?.Materialvtxt}}</div>
                </div>
              </td>
              <td>
                <div *ngIf="Ledger?.DocumentTypevtxt!='Opening Balance'">
                  <div *ngIf="Ledger?.DocumentTypevtxt!='Closing Balance'">
                    {{Ledger?.Quantitydcl}}
                  </div>
                </div>
              </td>
              <td>{{Ledger?.Debitdcl}}
              </td>
              <td>{{Ledger?.EditDebitdcl}}
              </td>
              <td>{{Ledger?.Creditdcl}}
              </td>
              <td>{{Ledger?.EditCreditdcl}}
              </td>
              <td>{{Ledger?.Balancedcl}}</td>
              <td>
                <div *ngIf="Ledger?.DocumentTypevtxt!='Opening Balance'">
                  <div *ngIf="Ledger?.DocumentTypevtxt!='Closing Balance'">
                    {{Ledger?.ChequeNovtxt}}</div>
                </div>
              </td>
              <td>
                {{Ledger?.Remarksvtxt}}
              </td>

            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-12 row mt-4">
        <p>
          <b>Total Credit Amount : </b> {{this.BalanceConfirmations[BalanceConfirmations.length-1]?.Creditdcl}}
          <b>Total Debit Amount : </b> {{this.BalanceConfirmations[BalanceConfirmations.length-1]?.Debitdcl}}
          <b>Closing Balance : </b> {{this.BalanceConfirmations[BalanceConfirmations.length-1]?.Balancedcl}}
        </p>
      </div>
      <div *ngIf="this.BCheader?.BalanceConfirmationAction=='B'&&this.BCheader?.PendingAt==this.UserType"
        class="col-md-12 row mt-4">
        <h4 class="col-md-2">Remark :</h4>
        <div class="col-md-9">
          <textarea (change)="onRemarkChange($event.target.value)" class=" form-control" type="text"></textarea>
        </div>
        <div class="col-md-12 row mt-4">
          <h4 class="col-md-3">Attachment :</h4>
          <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" multiple>
        </div>
        <div class="col-md-9">
          <div class="row mt-2">
            <a (click)="sendRemark()" class="btn btn-sm btn-brand mr-2 ">Send Back To Customer</a>
          </div>
        </div>
      </div>

    </div>

    <div>
      <h5 class="mt-4">Balance Confirmation History</h5>
      <h4 *ngIf="this.BalanceConfirmationLog==null">No Data Available</h4>
      <!-- <div *ngFor="let log of BalanceConfirmationLog" class="custom-list-view row bTicket shadow-sm p-3 m-3 "> -->
        <!-- <div *ngIf="this.log.Remarksvtxt!=null&&this.log.Remarksvtxt!=''" style="width: 100%;"> -->
          <!-- <div class=" row">
            <div class="col-12 col-md-8 "><b>Updated By :</b> &nbsp;
              {{log?.UserTypevtxt}} - {{log?.UserCodevtxt }}
            </div>
            <div class="col-12 col-md-4"><b>Action Date :</b> &nbsp;
              <b>{{log?.CreatedDatetime | date:'dd-MM-yyyy, h:mm a' }}</b>
            </div>
          </div> -->
          <!-- <div class="row">
            <div class="col-12 col-md-8 ">
              <b>Remark :</b>&nbsp;
              {{log?.Remarksvtxt}}
            </div>
            <div class="col-12 col-md-4 "><b>Attachment Count :</b> &nbsp;
              {{log?.AttachmentCount}}
              <button class="btn btn-brand btn-icon btn-sm btn-bold rounded-circle"
                (click)="GetAttachments(i,log?.IDbint)"><i class="fa fa-eye"></i>
              </button>
            </div>
          </div> -->
          <table class="table table-bordered heading-hvr">
            <thead>  
              <tr>  
                <th>User</th>  
                <th>Remarks</th>  
                <th>Action Date</th>  
                <th>Attachment</th>  
              </tr>  
            </thead>  
            <tbody *ngFor="let log of BalanceConfirmationLog; let i = index">  
            <tr>  
              <td>{{log?.UserTypevtxt}} - {{log?.UserCodevtxt }}</td>  
              <td>{{log?.Remarksvtxt}}</td>  
              <td>{{log?.CreatedDatetime | date:'dd-MM-yyyy, h:mm a' }}</td>   
              <td >  
                {{log?.AttachmentCount}}
                <a class="expand-row" *ngIf="!hideme[i]" class="fa fa-plus" (click)="GetAttachments(i,log?.IDbint)">  
                </a>  
                <a class="expand-row" *ngIf="hideme[i]" class="flaticon-cancel" (click)="hideme[i] = !hideme[i]">  
                </a>  
              </td>
            </tr>
            <tr [hidden]="!hideme[i]" class="sub-table no-bg">
              <td> </td>
              <td colspan="15" class="p-0">
                <table class="table mb-0 table-striped">
                  <thead class="bg-dark text-white">
                    <tr>
                      <th>FileName</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let attachment of BCAttachments[i]">
                      <td>
                        <a (click)="download(attachment.AttachmentFilevtxt)" type="button" class="alert-link"><i class="fa fa-download" aria-hidden="true"></i>
                          {{attachment.AttachmentFileNamevtxt}} </a> </td>
                    </tr>
                    </tbody>
                </table>
              </td>
            </tr>
            </tbody>
          </table>
        <!-- </div> -->
      <!-- </div> -->
    </div>


    <div>
      <button [routerLink]="['/Emp/BalanceConfirmationListA']" class="btn mt-4 btn-brand ">Back</button>
    </div>
  </div>