


<div class="kt-container  kt-container--fluid ">
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head kt-portlet__head--lg kt-portlet__head--break-sm">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title"> Employee List
                </h3>
            </div>
            
            <div class="kt-portlet__head-toolbar">
              <button class="btn mr-2 btn-brand btn-sm btn-bold  " (click)="download()">
                <i class="fa fa-file-excel"></i> <span class=" m-2">Export To Excel </span>
             </button>
              </div>
        </div>

        <div class="p-4 bg-light border-top border-bottom">
            <!--begin: Search Form -->
            <div class="kt-form kt-form--label-right ">
                <div class="row align-items-center">
                  <div class="col-xl-12 order-2 order-xl-1">
                    <div class="row align-items-center">
                      <div class="col-md kt-margin-b-20-tablet-and-mobile">
                        <div class="kt-input-icon kt-input-icon--left">
                          <input type="text" class="form-control" [(ngModel)]="search" placeholder="Type To Search...">
                          <span class="kt-input-icon__icon kt-input-icon__icon--left">
                            <span><i class="la la-search"></i></span>
                          </span>
                        </div>
                      </div>
                      <div class="col-1">
                        <button class="btn btn-dark" (click)="ngOnInit()" title="bigger">Search</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            <!--end: Search Form -->
        </div>
        <div class="kt-portlet__body ">
            <div class=" table table-responsive">
                <table class="table table-striped">
                  <thead style="background-color: #CDCDCD;" >
                    <tr>
                      <th class=" font-weight-bold align-text-top"  scope="col">Sr No</th>
                      <th class=" font-weight-bold align-text-top"  scope="col">User Code</th>
                      <th class=" font-weight-bold align-text-top"  scope="col">User Name</th>
                      <th class=" font-weight-bold align-text-top"  scope="col">User Type</th>
                      <th class=" font-weight-bold align-text-top"  scope="col">Email</th>
                      <th class=" font-weight-bold align-text-top"  scope="col">Mobile</th>
                      <th class=" font-weight-bold align-text-top"  scope="col">Active/Inactive</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let User of Users; index as i">
                      <th scope="row">{{i + Indexing +1 }}</th>
                      <td>{{ User?.UserCodetxt }}</td>
                      <td>{{ User?.UserNametxt }}</td>
                      <td>{{ User?.UserTypetxt }}</td>
                      <td>{{ User?.Emailvtxt }}</td>
                      <td>{{ User?.Mobilevtxt }}</td>
                      <td>{{ User?.IsActivebit }}</td>
                    </tr>
                    </tbody>
                  </table>
            </div>
            <h4 *ngIf="this.Users[0]==null">No Data Available</h4>
            <div *ngIf="Users[0] !=null" class="kt-pagination kt-pagination--brand">
                <ul class="kt-pagination__links">
                    <li *ngIf="this.pageField.length < paginationService.exactPageList" class="kt-pagination__link--prev">
                        <a (click)="showPrevUsers()" [ngClass]="(paginationService.showNoOfCurrentPage ==1)?'notAllowed':'kt-font-brand'"><i
                                class="fa fa-angle-left kt-font-brand"></i></a></li>
                    <li *ngFor="let page of pageField;let i=index">
                        <a (click)="showUsersByPageNumber(page,i)"  [ngClass]="pageNumber[i] ? 'kt-pagination__link--active':''"  style="cursor: pointer;">{{page}}</a>
                    </li>
                    <li *ngIf="this.pageField.length < paginationService.exactPageList" class="kt-pagination__link--next"><a (click)="showNextUsers()" [ngClass]="(paginationService.disabledNextBtn)?'notAllowed':'kt-font-brand'"><i
                                class="fa fa-angle-right kt-font-brand"></i></a> </li>
                </ul>
                <div class="kt-pagination__toolbar">
                    <div class="pagination__desc">Page <span class="kt-font-bold">{{currentPage}}</span> of page
                        <span class="kt-font-bold">{{paginationService.exactPageList}}</span></div>
                </div>
            </div>
        </div>
    </div>
</div>
